---
key: 1
title: Curriculum Vitae
permalink: /works/
excerpt:  
image: pic02.jpg
background-image: pic02.jpg
---
{% if site.data.cv %}
<div class="table-wrapper">
  <h2>Education</h2>
  <table class="alt">
    <tbody>
      {% for entry in site.data.cv.education %}
      <tr>
        <td>{{ entry.degree }}</td>
        <td>{{ entry.institution }}</td>
        <td>{{ entry.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Experience</h2>
  <table class="alt">
    <tbody>
      {% for job in site.data.cv.experience %}
      <tr>
        <td>{{ job.role }}</td>
        <td>{{ job.institution }}</td>
        <td>{{ job.year }}</td>
        <td>
          <ul>
            {% for detail in job.details %}
            <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
